:root {
    --primary-background: #ACD9EC;
    --primary-text: black;
    --secondary-background: #BDEFC6;
    --secondary-text: #004966;
    --accent: #E0B8D3;
    --accent-text: black;
}

.bg-primary {
    background-color: var(--primary-background);
    color: var(--primary-text);
}

.bg-secondary {
    background-color: var(--secondary-background);
    color: var(--secondary-text);
}

.bg-accent {
    background-color: var(--accent);
    color: var(--accent-text);
}

nav a {
    background-color: var(--secondary-text);
    color: white;
}

#hero img {
    width: 100%;
}

.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
}