@media screen and (min-width: 1000px)  {
    :root {
        --light: white;
        --dark: rgba(20,20,20,.8);
        --accent: purple;
    }

    .lg-hstack {
        display: flex;
        direction: ltr;
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-button {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    #hero-section button {
        position: absolute;
        left: 20%;
        top: 20%;
    }

    #hero-section img {
        max-width: 900px;
    }

    #join-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #place-images img {
        transition: opacity .5s;
    }

    #place-images img:hover {
        opacity: .5;
    }

}