@media screen and (min-width: 600px)  {
    #small-cards {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }

    .logo {
        width: 10rem;
    }

    #discover-main {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #place-images img {
        transition: opacity .5s;
    }

    #place-images img:hover {
        opacity: .5;
    }
}